# --- DATABASE CONFIG ---
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/smart_cafe_identity_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

# --- JWT SECURITY ---
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# --- CLOUDINARY CONFIG  ---
CLOUDINARY_CLOUD_NAME=dri1spe3b
CLOUDINARY_API_KEY=798639994742186
CLOUDINARY_API_SECRET=q7yovPI-IPJgLKEdIFOAVYloSro
